body{
background-color:black;
}
div.page_content{
width:95%;
margin:auto;
padding:20px;
}
div.header_content{
background-color:grey;
padding:20px;
margin-bottom:20px;
border-radius:10px;
width:100%;
}
div.header_content button{
width:100px;
margin-right:20px;
}
div.body_content{
background-color:grey;
padding:20px;
margin-bottom:20px;
border-radius:10px;
width:100%;
}
div.item-detail {
height:250px;
}
div.item-image{
cursor:pointer;
}
div.item-decr{
color:white;
}
h1.heading.one{
text-align:center;
}
img{
border-radius:10px;
}